body{
  background:rgb(109, 194, 185);
}
h1{
  text-align: center;
  font-weight: bolder;
  font-size: xxx-large;
  margin-bottom: 15px;
}
main{
  text-align: center;
  margin-top: 2em;
  border: 3px solid black;
 
}
section{
  margin-top: 50px;
}
footer{
  margin-top: 50%;
}

