body{

  background-image:url(https://media.giphy.com/media/10gJ9qSTW4mUFy/giphy.gif);
   width: 80vw;
  height: 80vh;
}

main{
  background-image: url(/img/backdrop1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-position-y: top;
  padding-bottom: 50%;
  
}

h1{
  text-align: center;
  font-weight: bolder;
  font-size: xxx-large;
  margin-bottom: 15px;
  padding-top: 24px;
  color: rgb(234, 241, 247);
}
#game{
  text-align: center;
  margin:auto;
  width: 50%;
  padding-top: 120px;
  color: rgb(5, 4, 4);
}
#play {
  font-size: 25px;
}
section{
  margin-top: 50px;
  height: 250px;
  width: 250px;
}

footer{
  margin-top: 50%;
}

#rules{
  font-size: 25px;
  overflow: auto;
  max-width: 400px;
  color: white;
  background-color: black;
}

#buttons {
  margin:auto;
  padding: 15px;
  background-color: rgb(114, 36, 36);
  height: 80px;
  width: 380px;
}
#clickers{
  margin: 35px;
  padding-left: 25px;
}